.container {
    max-width: 1170px;
    margin: 0 auto;

    @include respond-below(md) {
        max-width: 100%;
    }
}

.row {
    display: flex;
    flex-direction: row;
    @include respond-below(md) {
        flex-direction: column;
    }
}

.col {
    flex: 1;
}