a.button {
    &-link {
        color: white;
        font-weight: bold;
        text-align: center;
        border-radius: 6px;
        min-height: 50px;
        padding: 0 30px;
        display: flex;
        align-items: center;
        font-size: 1em;
        transition: transform 250ms ease-out;
        &:hover {
            transform: scale(.95);
            transition: transform 250ms ease-out;
        }
    }

    &-orange {
        background: $orange;
    }

    &-blue {
        background: $blue-2;
    }
}