.footer {
    background: $dark-blue;
    position: relative;
    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 80px 0;
        @include respond-below(md) {
            flex-direction: column;
        } 
        
        .logo {
            flex: 1;
            a {
                color: white;
                font-weight: bold;
                font-size: 1.3em;

                .orange {
                    color: $orange;
                }
                .blue {
                    color: $blue-1;
                }
            }
        }
        .menu {
            flex: 2;
            display: flex;
            justify-content: space-around;
            a {
                color: white;
                font-weight: normal;
                transition: color 250ms ease-out;
                padding: 10px;
                &.active {
                    color: #c6cee9;
                }
                &:hover {
                    color: #c6cee9;
                    transition: color 250ms ease-out;
                }
            }

        }
        .social-media {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            a {
                color: white;
                padding: 10px;
                font-weight: normal;
                transition: color 250ms ease-out;
                &:hover {
                    color: #c6cee9;
                    transition: color 250ms ease-out;
                }
                i {
                    font-size: 1.4em;
                }
            }
        }
    }

    hr.footer-line {
        width: 80%;
        margin: 0 auto;
        height: 1px;
        background: #434769;
        border: none;
    }
    &-bottom {
        p {
            color: $blue-3;
            text-align: right;
            padding: 40px 0;
            font-size: .8em;
            @include respond-below(md) {
                text-align: center;
            } 
        }
    }

    .up-button {
        background: $blue-4;
        width: 60px;
        height: 40px;
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 100px;
        bottom: 0;
        position: absolute;
        border-radius: 20% 20% 0 0;
        transition: background 250ms ease-out;
        &:hover {
            background: rgba($blue-4, .8);
            transition: background 250ms ease-out;
        }
        i {
            color: $soft-gray;
        }
    }
}